<div mat-dialog-title style="display: flex;">
    <h2 style="flex-grow: 1;">Zarządzaj datami</h2>
</div>

<app-spinner *ngIf="isDialogLoading"></app-spinner>

<mat-dialog-content>

    <form action="" class="timetable__form" [formGroup]="newDateForm">
        <mat-error *ngIf="newDateForm.hasError('genericError')">
            {{genericError}}
        </mat-error>
        <div class="modal-box__form-row">
            <mat-form-field class="field-margin">
                <mat-label>Kiedy zaczyna się przedmiot?</mat-label>
                <input matInput [min]="minClassStartDate" [max]="maxClassEndDate" name="classStartDate" type="date"
                    [formControl]="classStartDateControl" required>
            </mat-form-field>

            <mat-form-field class="field-margin field-small">
                <mat-label>Początek</mat-label>
                <input matInput name="classStartTime" type="time" [formControl]="classStartTimeControl" required>
                <mat-error *ngIf="classStartTimeControl.hasError('apiErrors')">
                    {{this.apiErrors.start_date}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="field-margin field-small">
                <mat-label>Koniec</mat-label>
                <input matInput name="classEndTime" type="time" [formControl]="classEndTimeControl" required>
                <mat-error *ngIf="classEndTimeControl.hasError('apiErrors')">
                    {{this.apiErrors.end_date}}
                </mat-error>
            </mat-form-field>

            <button mat-mini-fab color="primary" class="button add-date-button__icon" (click)="addDate();">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="modal-box__form-row">
            <mat-checkbox (change)="handleWeeklyCheckbox($event)" style="align-self:center;" name="allDayEvent"
                [formControl]="weeklyCheckboxControl">Powtarza się co tydzień?</mat-checkbox>
            <button mat-flat-button color="primary" class="button add-date-button__text" (click)="addDate();">Dodaj datę</button>
        </div>
    </form>

    <mat-divider style="margin: 24px 0;"></mat-divider>

    <div style="position: relative;">
        <app-spinner *ngIf="areDatesLoading"></app-spinner>
        <mat-accordion *ngFor="let universityClassDate of currentUniversityClassDates | keyvalue" style="position: relative;">
            <div style="position: relative;">
                <app-spinner *ngIf="isSingleDateCurrentlyLoading(universityClassDate.key)" [diameter]=32></app-spinner>
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="innerWidth <= 768 ? '150px' : '100px'" expandedHeight="150px">
                        <mat-panel-title>
                            <div *ngIf="universityClassDate.value[0].periodicity == 1">
                                Co tydzień w: <br> {{getDayOfWeek(universityClassDate.value[0].start_date)}} <br>
                                {{getTime(universityClassDate.value[0].start_date)}} -
                                {{getTime(universityClassDate.value[0].end_date)}}.
                            </div>
                            <div *ngIf="universityClassDate.value[0].periodicity == 0">
                                Pojedyncze wystąpienie: <br> {{formatDate(universityClassDate.value[0].start_date)}} <br>
                                {{getTime(universityClassDate.value[0].start_date)}} -
                                {{getTime(universityClassDate.value[0].end_date)}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="universityClassDate.value[0].periodicity == 1 && innerWidth > 768">
                            Początek: <br> {{formatDate(universityClassDate.value[0].start_date)}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <span *ngFor="let periodicityDate of universityClassDate.value">
                        <span style="display: flex;">
                            <p style="flex-grow: 1;">{{formatDate(periodicityDate.start_date)}} {{getTime(periodicityDate.start_date)}} - {{getTime(periodicityDate.end_date)}}</p>
                            <!-- <p class="mat-caption" style="margin: 0 8px 0; cursor: pointer;">Edytuj</p> -->
                            <p class="mat-caption" style="margin: 0; cursor: pointer;" (click)="deleteSingleDate(periodicityDate, universityClassDate.key)">Usuń</p>
                        </span>
                        <mat-divider></mat-divider>
                    </span>
                </mat-expansion-panel>
                <div style="margin-bottom: 16px;" *ngIf="universityClassDate.value[0].periodicity == 1">
                    <button mat-button color="warn" (click)="deletePeriodicityDates(universityClassDate)">Usuń grupę dat</button>
                </div>
                <div style="margin-bottom: 16px;" *ngIf="universityClassDate.value[0].periodicity == 0">
                    <!-- <button mat-button>Edytuj datę</button> -->
                    <button mat-button color="warn" (click)="deletePeriodicityDates(universityClassDate)">Usuń datę</button>
                </div>
            </div>
        </mat-accordion>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>