<div *ngFor="let group of groups" style="display: flex; flex-direction: column;">
    <div class="group__row" [style.background-color]="selectedGroupId === group.id ? 'lightgray' : 'white'">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <div style="flex-grow: 1;" (click)="handleSelectedGroupId(group.id)">
            <h3 style="margin: 0">{{group.name}}</h3>
            <p style="margin: 0; color: rgba(0,0,0,.54);" *ngIf="group.role === 'unverified'">Oczekuje na weryfikację...</p>
            <p style="margin: 0; color: rgba(0,0,0,.54);" *ngIf="group.role === 'admin'">Jesteś administratorem</p>
            <p style="margin: 0; color: rgba(0,0,0,.54);" *ngIf="group.role === 'god'">Jesteś założycielem</p>
            <!-- <h3 style="margin: 0;">{{group.name}}</h3> -->
            <!-- <p></p> -->
        </div>
        <app-profile-picture *ngIf="group.picture" [src]="group.picture"></app-profile-picture>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="showMembers(group);">
                    <mat-icon>people</mat-icon>
                    <span>Wyświetl członków</span>
                </button>
                <button mat-menu-item (click)="leaveGroup(group.id)" *ngIf="!isGroupGod(group.role)">
                    <mat-icon>person_remove</mat-icon>
                    <span>Odejdź z grupy</span>
                </button>
                <button mat-menu-item routerLink="/group/{{group.id}}" *ngIf="isGroupGod(group.role) || isGroupAdmin(group.role)">
                    <mat-icon>edit</mat-icon>
                    <span>Edytuj dane grupy</span>
                </button>
                <button mat-menu-item (click)="deleteGroup(group.id);" *ngIf="isGroupGod(group.role)">
                    <mat-icon>delete</mat-icon>
                    <span>Usuń grupę</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <mat-divider style="margin: 8px auto; width: 80%;"></mat-divider>
</div>