<form [formGroup]="noteForm">
    <mat-error *ngIf="genericError">
        Coś poszło nie tak...
    </mat-error>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div mat-dialog-title style="display: flex;">
        <mat-form-field style="flex-grow: 1; margin-right: 24px;">
            <mat-label>Nazwa</mat-label>
            <input matInput type="text" name="noteTitle" [formControl]="noteTitleControl" required>
            <mat-error *ngIf="noteTitleControl.hasError('required')">
                Tytuł jest <strong>wymagany</strong>
            </mat-error>
        </mat-form-field>
        <button *ngIf="isEditMode" mat-mini-fab color="primary" style="background-color: #3498DB;"
            (click)="deleteNote();">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <!-- <h2 mat-dialog-title>

    </h2> -->

    <mat-dialog-content>
        <mat-form-field style="position: relative; width: 100%;" *ngIf="noteToEdit?.note?.id">
            <app-spinner *ngIf="areTagsLoading" [diameter]=32></app-spinner>
            <mat-label>Tagi</mat-label>
            <mat-chip-list #chipList aria-label="Nadaj tagi">
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(tag)" style="position: relative">
                    <app-spinner *ngIf="isTagLoading.has(tag.id)" [diameter]=16></app-spinner>
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Nowy tag..." #tagInput [formControl]="tagControl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name">
                    {{tag.name}}
                </mat-option>

            </mat-autocomplete>
        </mat-form-field>
        <div id="editor" style="height: 35vh;"></div>
        <div style="position: relative;">
            <app-spinner *ngIf="areFilesLoading" [diameter]=40></app-spinner>
            <p style="margin: 0;" *ngIf="noteToEdit?.note?.id">Załączniki:</p>
            <div *ngIf="noteToEdit?.files.length">
                <mat-chip-list style="margin-bottom: 16px;">
                    <mat-chip *ngFor="let file of noteToEdit?.files" [removable]="true" (removed)="deleteFile(file)">
                        <a [href]="file.data" target="_blank">{{file.dataName}}</a>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <input type="file" *ngIf="noteToEdit?.note?.id" #noteFilesInput style="margin-top: 16px;"
                (change)="onNoteFilesChange($event)">
        </div>

        <!-- <button mat-flat-button (click)="saveFiles();" color="primary" class="button">Zapisz pliki</button> -->
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Zamknij</button>
        <button mat-flat-button (click)="saveNote();" color="primary" class="button">Zapisz</button>
    </mat-dialog-actions>
    <!-- <mat-dialog-actions align="start">
        
    </mat-dialog-actions> -->
</form>