<form [formGroup]="noteForm">
    <mat-error *ngIf="genericError">
        Coś poszło nie tak...
    </mat-error>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div mat-dialog-title style="display: flex;">
        <mat-form-field style="flex-grow: 1; margin-right: 24px;">
            <mat-label>Nazwa</mat-label>
            <input matInput type="text" name="noteTitle" [formControl]="noteTitleControl" required>
            <mat-error *ngIf="noteTitleControl.hasError('required')">
                Tytuł jest <strong>wymagany</strong>
            </mat-error>
        </mat-form-field>
        <button *ngIf="isEditMode" mat-mini-fab color="primary" style="background-color: #3498DB;" (click)="deleteNote();">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <!-- <h2 mat-dialog-title>

    </h2> -->
    
    <mat-dialog-content>
        <div id="editor" style="height: 50vh;"></div>
        <!-- <quill-editor #editor [(ngModel)]="htmlNoteContent" [modules]="quillConfig" [styles]="{height: '50vh'}">
        </quill-editor> -->
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anuluj</button>
        <button mat-flat-button (click)="saveNote();" color="primary" class="button">Zapisz</button>
    </mat-dialog-actions>
</form>
