<div class="self-register">
  <h2>Załóż konto</h2>
  <form action="" class="login-form">
    <mat-form-field class="input-field">
      <mat-label>Imię</mat-label>
      <input matInput placeholder="Jan">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Nazwisko</mat-label>
      <input matInput placeholder="Kowalski">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="email@domena.pl">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Hasło</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Powtórz hasło</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <button mat-stroked-button class="action-button active">Załóż konto</button>
  </form>
</div>