<div class="self-login">
  <h2>Zaloguj się</h2>
  <form action="">
    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" placeholder="email@domena.pl">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Hasło</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-stroked-button class="action-button active" (click)="tryLogin($event)">Zaloguj się</button>
    <p>Successful values: eve.holt@reqres.in, cityslicka</p>
  </form>
</div>