<mat-card class="post__container" style="position: relative; overflow: hidden;">
    <app-spinner *ngIf="isPostLoading"></app-spinner>
    <div style="display: flex;">
        <mat-card-header style="flex-grow: 1;">
            <app-profile-picture mat-card-avatar [src]="post.profilePic"></app-profile-picture>
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-subtitle>{{post.name}} {{post.secondName}} - {{post.created_at}}</mat-card-subtitle>
        </mat-card-header>

        <div *ngIf="hasManageAccessToPost()">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editPost();">
                    <mat-icon>edit</mat-icon>
                    <span>Edytuj posta</span>
                </button>
                <button mat-menu-item (click)="deletePost();">
                    <mat-icon>delete</mat-icon>
                    <span>Usuń posta</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- <img mat-card-image  -->
    <mat-card-content style=" margin: 0;">
        <p style="white-space: pre-wrap;">{{post.post}}</p>
        <div style="position: relative;">
            <div style="height: 8px;">
                <mat-divider></mat-divider>
            </div>
            <div>
                <div style="display: flex; position: relative;">
                    <app-spinner *ngIf="isFilesLoading" [diameter]=16></app-spinner>
                    <p class="mat-caption" *ngIf="!postFiles" style="cursor: pointer;" (click)="getPostFiles()">Pokaż załączniki</p>
                    <p class="mat-caption" *ngIf="!isShowFileUpload && isPostAuthor()" style="cursor: pointer; margin-left: 16px;" (click)="showFileUpload()">Załącz pliki</p>
                </div>

                <input type="file" *ngIf="isShowFileUpload" #postFileInput style="margin: 8px 0;" (change)="onPostFileChange($event)">

                <div *ngIf="postFiles" style="margin-bottom: 16px;">
                    <mat-chip-list>
                        <mat-chip *ngFor="let file of postFiles" [removable]="true" (removed)="deleteFile(file)" style="position: relative; overflow: hidden;">
                            <app-spinner *ngIf="isSinglePostLoading.has(file.id)" [diameter]=16></app-spinner>
                            <a [href]="file.data" target="_blank">{{ (file.dataName.length > 15)? (file.dataName | slice:0:15)+'..':(file.dataName) }}</a>
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div *ngFor="let comment of comments">
                <app-post-comment [comment]="comment" [groupRole]="relatedGroup.role" [groupId]="relatedGroup.id" (commentDelete)="onCommentDelete($event)"></app-post-comment>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions style="position: relative; margin-bottom: 0;">
        <app-spinner *ngIf="areCommentsLoading" [diameter]="40"></app-spinner>
        <button mat-button (click)="showComments(post);">Wyświetl komentarze</button>
        <button mat-button (click)="setWriteCommentMode();">Napisz komentarz</button>
    </mat-card-actions>
    <!-- <mat-form-field> -->
    <!-- <mat-label>Napisz coś...</mat-label> -->
    <div *ngIf="isWriteCommentMode" style="position: relative;">
        <app-spinner *ngIf="isCommentLoading" [diameter]="40"></app-spinner>
        <textarea cdkTextareaAutosize class="comment__input" #commentTextarea minlength="1" maxlength="510"
            (keydown)="onCommentKeyPress($event);" [(ngModel)]="commentText"></textarea>
        <span style="cursor: pointer;" (click)="sendComment();">
            <mat-icon>send</mat-icon>
        </span>
    </div>
    <mat-error *ngIf="apiErrors?.comment">
        {{apiErrors.comment}}
    </mat-error>

    <!-- </mat-form-field> -->
</mat-card>