<div class="menu__aside-wrapper" [style.width]="navbarWidth">
    <ul class="menu__aside">
        <li (click)="toggleSideNavbar()">
            <a routerLink="/dashboard">
                <svg-icon src="./assets/app-logo.svg" class="logo" [svgClass]="navIcon"></svg-icon>
            </a>
        </li>
        <li (click)="toggleSideNavbar()">
            <a routerLink="/dashboard" (click)="setActivePage($event, 'Strona główna')">
                <svg-icon src="./assets/icons/home.svg" [svgClass]="navIcon"></svg-icon>
                <p class="menu__desc">Strona główna</p>
            </a>
        </li>
        <li (click)="toggleSideNavbar()">
            <a routerLink="/timetable" (click)="setActivePage($event, 'Plan zajęć')">
                <svg-icon src="./assets/icons/notebook.svg" [svgClass]="navIcon"></svg-icon>
                <p class="menu__desc">Plan zajęć</p>
            </a>
        </li>
        <li (click)="toggleSideNavbar()">
            <a routerLink="/calendar" (click)="setActivePage($event, 'Kalendarz')">
                <svg-icon src="./assets/icons/calendar.svg" [svgClass]="navIcon"></svg-icon>
                <p class="menu__desc">Kalendarz</p>
            </a>
        </li>
        <li (click)="toggleSideNavbar()">
            <a routerLink="/notes" (click)="setActivePage($event, 'Notatki')">
                <svg-icon src="./assets/icons/list.svg" [svgClass]="navIcon"></svg-icon>
                <p class="menu__desc">Notatki</p>
            </a>
        </li>
        <li (click)="toggleSideNavbar()">
            <a routerLink="/groups" (click)="setActivePage($event, 'Grupy')">
                <svg-icon src="./assets/icons/users.svg" [svgClass]="navIcon"></svg-icon>
                <p class="menu__desc">Grupy</p>
            </a>
        </li>
    </ul>
</div>