.menu__aside-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 0.9;
    position: fixed;
    background-color: #3498DB;
    transition: 0.5s all ease-in-out;
}

.menu__aside {
    height: 100%;
    list-style: none; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .menu__aside-wrapper {
    width: 200px !important;
} */

.svg-nav-icon {
    height: auto;
    width: 32px;
    fill: #EEEEEE;
}

li {
    margin: 24px 0;
}

/* li * {
    display: flex;
    justify-content: center;
    align-items: center;
} */

p {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: white;
    text-transform: uppercase;
}

.menu__desc {
    display: none !important;
}

@media (max-width: 768px) {
    .menu__aside {
        align-items: flex-start;
        margin: 0 auto;
    }

    .menu__aside-wrapper {
        display: none;
    }

    .menu__aside-wrapper.open {
        width: 100vw !important;
        z-index: 100000;
        display: flex;
        transition: 0.5s all ease-in-out;
    }

    .menu__desc {
        display: inline !important;
        margin-left: 16px;
    }

    a {
        display: flex;
        align-items: center;
    }

    li {
        width: 100%;
    }

    .logo {
        margin: 0 auto;
    }
}
