::ng-deep .my-custom-dialog-class mat-dialog-container {
    overflow: auto;
}

mat-dialog-content {
    overflow: auto !important;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.note-container {
    width: 28%;
    margin: 24px;
    background-color: white;
    border-radius: 19px;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer;
}

.note__actions {
    display: none;
}

.button {
    background-color: #3498DB !important;
}

@media (max-width: 768px) {
    .note__actions {
        display: flex;
        margin-top: 8px;
    }

    .note-container {
        width: 45%;
        margin: 4px;
    }
}