<!-- <div class="flex">
    <div *ngFor="let note of notes" class="note-container">
        <div style="background-color: #3498DB;">
            <h2 style="margin-left: 8px; color: white; font-weight: 100;">{{note.title}}</h2>
        </div>
        <div [innerHTML]="note.htmlContent | safeHtml"></div>
    </div>
</div> -->
<app-spinner *ngIf="isLoading"></app-spinner>

<ngx-masonry [ordered]="true">
    <div ngxMasonryItem *ngFor="let note of notes" class="note-container box-shadow-for-containers" (click)="openEditNoteDialog(note);">
        <app-note [note]="note"></app-note>
    </div>
</ngx-masonry>