<h1 style="margin-left: 48px; margin-top: 16px;">Witaj, {{user.name}}</h1>
<div class="dashboard">
    <div class="container container__top">
        <h3 style="margin: 0;">Nadchodzące wydarzenia</h3>
        <div class="white__container events">
            <div>
                <h4>Dzisiaj</h4>
                <div class="event__list">
                    <div *ngFor="let event of todayEvents" class="event__detail">
                        <app-dashboard-event-details [event]="event"></app-dashboard-event-details>
                    </div>
                </div>
            </div>
            <div>
                <h4>Jutro</h4>
                <div class="event__list">
                    <div *ngFor="let event of tomorrowEvents" class="event__detail">
                        <app-dashboard-event-details [event]="event"></app-dashboard-event-details>
                    </div>
                </div>
            </div>
            <div>
                <h4>Następny tydzień</h4>
                <div class="event__list">
                    <div *ngFor="let event of nextWeekEvents" class="event__detail">
                        <app-dashboard-event-details [event]="event"></app-dashboard-event-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3-grid">
        <div class="container">
            <h3 style="margin: 0;">Twój plan zajęć</h3>
            <div class="white__container">
                <p>Aktualny:</p>
                <button mat-flat-button color="primary" class="button" style="display:block; margin: 8px auto;">{{currentTimetable?.name}}</button>
            </div>
        </div>
        <div class="container">
            <h3 style="margin: 0;">Ostatnie notatki</h3>
            <div class="white__container white__container-note">
                <app-note *ngIf="latestNote" [note]="latestNote"></app-note>
            </div>
        </div>
        <div class="container">
            <h3 style="margin: 0;">Twoje grupy</h3>
            <div class="white__container">
                
            </div>
        </div>
    </div>
</div>