.calendar__wrapper {
    margin: 16px; 
    height: 90%;
    background-color: white;
    border-radius: 19px;
    position: relative;
    overflow: hidden;
}

::ng-deep .fc-daygrid-event {
    cursor: pointer;
}

::ng-deep .fc-event-main {
    cursor: pointer;
}