.calendar__wrapper {
    margin: 16px; 
    height: 90%;
    background-color: white;
    border-radius: 19px;
    position: relative;
    overflow: hidden;
}

::ng-deep .fc-daygrid-event {
    cursor: pointer;
}

::ng-deep .fc-event-main {
    cursor: pointer;
}

.calendar__actions {
    display: none;
}

.button {
    background-color: #3498DB;
}

@media (max-width: 768px) {
    .calendar__actions {
        display: flex;
    }

    ::ng-deep .fc-header-toolbar.fc-toolbar {
        display: none !important;
    }

    .calendar__wrapper {
        margin: 16px 4px;
    }
}